<div class="container mt-4">
    <h1>Danh sách đăng ký liên hệ</h1>
    <div class="table-responsive">
        <table class="table table-bordered table-hover align-middle">
            <thead>
                <tr>
                    <th>STT</th>
                    <th>Họ và tên</th>
                    <th>Email</th>
                    <th>SĐT</th>
                    <th>Ghi chú</th>
                    <th class="">Thời gian</th>
                </tr>
            </thead>
            <tbody>
                {{#each forms}}
                <tr>
                    <td>{{inc @index}}</td>
                    <td>{{name}}</td>
                    <td>{{mail}}</td>
                    <td>{{phone}}</td>
                    <td>{{note}}</td>
                    <td class="">{{getDate formAtTime}}</td>
                </tr>
                {{/each}}
            </tbody>
        </table>
    </div>
</div>