<div class="container flex-column mt-4">
  {{!-- <button><a href="/admin/addstaff">Thêm nhân viên</a></button> --}}
    <h4 class="mb-3 text-black">Danh sách tư vấn viên đã xoá</h4>
    <div class="table-responsive">
      <table class="table table-bordered table-hover align-middle">
        <thead class="table-light">
          <tr>
            <th scope="col">STT</th>
            <th scope="col">Họ và tên</th>
            <th scope="col">Chức vụ</th>
            <th scope="col">Mã số tư vấn</th>
            <th scope="col">Số điện thoại</th>
            <th scope="col">Email</th>
            <th colspan="2" scope="col">Tác vụ</th>
          </tr>
        </thead>
        <tbody>
            {{#each member}}
          <tr>
            <td>{{inc @index}}</td>
            <td>{{name}}</td>
            <td>{{position}}</td>
            <td>{{code}}</td>
            <td>{{phonenumber}}</td>
            <td>{{email}}</td>
            <td><a href="/admin/restoreStaff/{{_id}}">KHÔI PHỤC</a></td>
            <td><a href="/admin/delete-staff-forever/{{_id}}">XOÁ VĨNH VIỄN</a></td>
          </tr>
          {{/each}}
          <!-- Thêm hàng mới tại đây -->
        </tbody>
      </table>
    </div>
</div>